@import './base.css';

#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

body {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: xxx-large;
  text-transform: uppercase;
}

h2 {
  font-size: xx-large;
  text-transform: uppercase;
}

label {
  font-size: x-large;
  text-transform: uppercase;
}
